@model Receiver
@{
    var receiverVcId = "receiver_" + Model.Id;
    var hashedReceiverVcId = "#receiver_" + Model.Id;
}

<td>
    @Html.DisplayFor(modelItem => modelItem.Name)
</td>
<td>
    @Html.DisplayFor(modelItem => modelItem.Surname)
</td>
<td>
    @Html.DisplayFor(modelItem => modelItem.Email)
</td>
<td style="white-space:nowrap">
    <a asp-action="Details" asp-route-id="@Model.Id"><i class="bi bi-file-text"></i></a> |
    <a asp-action="InlineInput" asp-route-id="@Model.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-update="@hashedReceiverVcId"><i class="bi bi-pencil-square"></i></a> |
    <a asp-action="Delete" asp-route-id="@Model.Id" style="color:red"><i class="bi bi-trash3"></i></a>
</td>
