@using FileToEmailLinker.Models.ViewModels;
@model DashboardViewModel

@{
    ViewData["Title"] = "Schedulazioni";
}
<div class="row row-cols-2">
    <div class="col-auto position-relative">
        <h3>Segnalazioni</h3>
        <h6 id="segnalazioniBadge">
            <partial name="Dashboard/_SegnalazioniBadge" model="@Model.AlertList.Count()"></partial>
            @*<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @Model.AlertList.Count()
            </span>*@
        </h6>
    </div>
    <div class="col">
        <button class="btn btn-outline-primary btn-sm ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#alertTable" aria-expanded="false" aria-controls="alertTable">
            <i class="bi bi-arrows-collapse"></i>
        </button>
    </div>
</div>
@*<input type="button" id="badgeCountUpdater" style="display:none"/>*@
<a asp-controller="Dashboard" asp-action="UpdateBadgeCount" id="badgeUpdateAction" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#segnalazioniBadge"></a>
<table class="table table-sm collapse" id="alertTable">
    <thead>
        <tr>
            <th scope="col">Messaggio</th>
            <th scope="col">Data</th>
            <th scope="col">Livello</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="segnalazioniRows">
        <partial name="Dashboard/_SegnalazioniRows" model="@Model.AlertList"></partial>
        @*@foreach(var segnalazione in Model.AlertList)
        {
            <tr>
                <td>@segnalazione.Message</td>
                <td>@segnalazione.DateTime</td>
                <td>@segnalazione.AlertSeverity</td>
            </tr>
        }*@
    </tbody>
</table>

<div class="d-flex">
    <h3>Prossimi invii</h3>
    <form class="ms-auto align-self-center" asp-action="SearchByDate" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#dashboardRows">
        <div class="input-group">
            @*<label for="dateSearch" class="control-label">Ricerca</label>*@
            <span class="input-group-text" id="basic-addon1">Ricerca:</span>
            <input id="dateSearch" name="dateSearch" class="form-control" type="date"/>
            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
            <a class="btn btn-outline-secondary" asp-action="ClearDateSearch" onclick="document.getElementById('dateSearch').value = ''" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#dashboardRows"><i class="bi bi-x-circle"></i></a>
        </div>
    </form>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Pianificazione</th>
        </tr>
    </thead>
    <tbody id="dashboardRows">
        <partial name="/Views/Shared/Dashboard/_DashboardRows.cshtml" model="@Model.SchedulationGroupList"></partial>
    </tbody>
</table>

<script src="/js/Dashboard/BadgeUpdate.js"></script>
