@model ICollection<Alert>

@foreach (var segnalazione in Model)
{
    var rowName = "unvisualizedRow_" + segnalazione.Id;
    var dataUrl = "Dashboard/CheckAlert/" + segnalazione.Id;
    var actionLink = "startSequence('" + dataUrl + "')";
    <tr>
        <td>@segnalazione.Message</td>
        <td>@segnalazione.DateTime</td>
        <td>@segnalazione.AlertSeverity</td>
        <td>
            <a asp-action="CheckAlertAndReload" 
                asp-route-id="@segnalazione.Id" 
                data-ajax="true" 
                data-ajax-mode="replace" 
                data-ajax-update="#allSegnalazioniTables"><i class="bi bi-check-circle"></i></a> @*onclick="swapAlert(@segnalazione.Id)"*@
        </td>
    </tr>
}