@*@model FileToEmailLinker.Models.InputModels.MailPlans.MailPlanCreateInputModel*@
@model List<SelectListItem>

<div class="card bg-light mb-2">
    <div class="card-header fw-bold">
        Selezione allegati
    </div>
    <div class="card-body">
        @for (int i = 0; i < Model.Count; i++)
        {
            var elem = Model[i];
            var elemId = "FilesSelection_" + i.ToString();
            <div class="form-check">
                @if (elem.Selected)
                {
                    <input class="form-check-input" type="checkbox" name="FilesSelection" id="@elemId" value="@elem.Value" checked />
                }
                else
                {
                    <input class="form-check-input" type="checkbox" name="FilesSelection" id="@elemId" value="@elem.Value" />
                }
                <label class="form-check-label" for="@elemId">@elem.Text</label>
            </div>
        }
    </div>
</div>