@using FileToEmailLinker.Models.InputModels.Schedulations;
@model FileToEmailLinker.Models.InputModels.MailPlans.MailPlanCreateInputModel
@*@model WeeklyScheduleInputModel*@

@{
    //var modello = (WeeklySchedulation)Model.Schedulation;
    var modello = Model;
}

<div class="row">
    <div class="col-7">
        <div class="col">
            <input type="checkbox" asp-for="@Model.WeeklySchedulation.Monday" value="true"/>
            @*<input type="checkbox" name="@modello.WeekDays" id="@modello.WeekDays" />*@
            @*<input type="hidden" asp-for="@modello.MondayStr" value="Monday"/>*@
            <label asp-for="@Model.WeeklySchedulation.Monday" class="control-label"></label>
        </div>
        <div class="col">
            <input type="checkbox" asp-for="@Model.WeeklySchedulation.Tuesday" value="true" />
            @*<input type="hidden" asp-for="@modello.TuesdayStr" value="Tuesday"/>*@
            <label asp-for="@Model.WeeklySchedulation.Tuesday" class="control-label"></label>
        </div>
        <div class="col">
            <input type="checkbox" asp-for="@Model.WeeklySchedulation.Wednesday" value="true" />
            @*<input type="hidden" asp-for="@modello.WednesdayStr" value="Wednesday"/>*@
            <label asp-for="@Model.WeeklySchedulation.Wednesday" class="control-label"></label>
        </div>
        <div class="col">
            <input type="checkbox" asp-for="@Model.WeeklySchedulation.Thursday" value="true" />
            @*<input type="hidden" asp-for="@modello.ThursdayStr" value="Thursday"/>*@
            <label asp-for="@Model.WeeklySchedulation.Thursday" class="control-label"></label>
        </div>
        <div class="col">
            <input type="checkbox" asp-for="@Model.WeeklySchedulation.Friday" value="true" />
            @*<input type="hidden" asp-for="@modello.FridayStr" value="Friday"/>*@
            <label asp-for="@Model.WeeklySchedulation.Friday" class="control-label"></label>
        </div>
        <div class="col">
            <input type="checkbox" asp-for="@Model.WeeklySchedulation.Saturday" value="true" />
            @*<input type="hidden" asp-for="@modello.SaturdayStr" value="Saturday"/>*@
            <label asp-for="@Model.WeeklySchedulation.Saturday" class="control-label"></label>
        </div>
        <div class="col">
            <input type="checkbox" asp-for="@Model.WeeklySchedulation.Sunday" value="true" />
            @*<input type="hidden" asp-for="@modello.SundayStr" value="Sunday"/>*@
            <label asp-for="@Model.WeeklySchedulation.Sunday" class="control-label"></label>
        </div>
    </div>
</div>