@model FileToEmailLinker.Models.InputModels.MailPlans.MailPlanCreateInputModel

@{
    ViewData["Title"] = "Create";
    var today = DateOnly.FromDateTime(DateTime.Now.Date);
}

<h1>Create</h1>

<h4>MailingPlan</h4>
<hr />
<div class="row">
    <form asp-action="Create" method="post">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveState" class="control-label"></label>
                <select asp-for="ActiveState" class="form-control" asp-items="Html.GetEnumSelectList<FileToEmailLinker.Models.Enums.ActiveState>()"></select>
                <span asp-validation-for="ActiveState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input type="text" asp-for="Subject" class="form-control"/>
                <span asp-asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="mt-2">Allegati</div>
            @for(int i= 0; i < Model.FileSelectList.Count; i++)
            {
                var elem = Model.FileSelectList[i];
                var elemId = "FilesSelection_" + i.ToString(); 
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="FilesSelection" id="@elemId" value="@elem.Value" />
                    <label class="form-check-label" for="@elemId">@elem.Text</label>
                </div>
            }
            <div class="mt-2">Destinatari</div>
            @for(int i = 0; i< Model.ReceiverSelectList.Count; i++)
            {
                var elem = Model.ReceiverSelectList[i];
                var elemId = "ReceiversSelection_" + i.ToString();
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="ReceiversSelection" id="@elemId" value="@elem.Value" />
                    <label class="form-check-label" for="@elemId">@elem.Text</label>
                </div>
            }
            <div class="form-group">
                <label asp-for="SchedDate" class="control-label"></label>
                <input asp-for="SchedDate" class="form-control" type="date" />
                <span asp-validation-for="SchedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchedTime" class="control-label"></label>
                <input asp-for="SchedTime" class="form-control" type="time" />
                <span asp-validation-for="SchedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div>
            <hr />
            <h6>Selezionare il tipo di schedulazione:</h6>
            <div class="mb-3">
                <a class="btn btn-outline-primary" asp-action="AddWeeklyScheduleInputModel" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#schedulationSelection">Settimanale<i class="bi bi-calendar-day ms-2"></i></a>
                <a class="btn btn-outline-primary" asp-action="SchedulationSelect" aps-route-schedType="monthly" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#schedulationSelection">Mensile<i class="bi bi-calendar-week ms-2"></i></a>
            </div>
            <div id="schedulationSelection">
                <!--Partial View area-->
                @*<partial name="/Views/Schedulations/_WeeklySchedulation.cshtml" model="@Model.WeeklySchedulation"></partial>*@
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
