@model FileToEmailLinker.Models.Entities.MailingPlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MailingPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedulation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverList)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach(var recipient in Model.ReceiverList)
                {
                    <li>@string.Concat(recipient.Name, ' ',recipient.Surname)</li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileStringList)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach(var fileName in Model.FileStringList.Split(';'))
                {
                    <li>@fileName</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
