@model FileToEmailLinker.Models.Entities.MailingPlan

@{
    ViewData["Title"] = "Details";
    var schedulationTime = Model.WeeklySchedulation != null ? Model.WeeklySchedulation.Time : Model.MonthlySchedulation.Time;
    var startDate = Model.WeeklySchedulation != null ? Model.WeeklySchedulation.StartDate : Model.MonthlySchedulation.StartDate;
    var startDateStr = startDate.ToString();
    var endDate = Model.WeeklySchedulation != null ? Model.WeeklySchedulation.EndDate : Model.MonthlySchedulation.EndDate;
    var endDateStr = endDate.ToString();
    string[]? allegati = Model.FileStringList?.Split(';');
}

<div class="container">
    <h1>Pianificazione <span class="fst-italic">@Model.Name</span></h1>

    <hr />

    <partial name="/Views/Shared/Output/_InformazioniGeneraliOutput.cshtml" model="@Model"></partial>

    <div class="card bg-light mb-2">
        <div class="card-header fw-bold">
            Allegati
        </div>
        <div class="card-body">
            <div class="row row-cols-auto">
            @if (allegati != null && allegati.Length > 0)
            {
                foreach(var all in allegati)
                {
                    <div class="col"><i class="bi bi-file-earmark-excel me-2"></i>@all</div>
                }
            }
            </div>
        </div>
    </div>
    <div class="card bg-light mb-2">
        <div class="card-header fw-bold">
            Destinatari
        </div>
        <div class="card-body">
            <div class="row row-cols-auto">
                @foreach (var receiver in Model.ReceiverList)
                {
                    <div class="col"><i class="bi bi-file-person me-1"></i>@receiver.Name @receiver.Surname<i class="bi bi-envelope-at ms-2 me-1"></i>@receiver.Email</div>
                }

            </div>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-header d-flex fw-bold">
            Schedulazione:
            @if(Model.WeeklySchedulation != null)
            {
                <span><i class="bi bi-calendar-day ms-2 me-2"></i></span><span class="fw-bold">Settimanale</span>
            }
            @if (Model.MonthlySchedulation != null)
            {
                <span><i class="bi bi-calendar3 ms-2 me-2"></i></span><span class="fw-bold">Mensile</span>
            }
            <span class="ms-auto"><i class="bi bi-alarm me-2"></i>Orario invio:  @Model.WeeklySchedulation?.Time @Model.MonthlySchedulation?.Time</span>
        </div>
        <div class="card-body">
            @if(Model.WeeklySchedulation != null)
            {
                <partial name="Schedulations/_WeeklySchedulationDetails" model="@Model.WeeklySchedulation"></partial>
            }
            @if(Model.MonthlySchedulation != null)
            {
                <partial name="Schedulations/_MonthlySchedulationDetails" model="@Model.MonthlySchedulation"></partial>
            }
        </div>
    </div>
    <partial name="ButtonGroup/EditBackToListButtonGroup" model="@Model"></partial>
</div>
