@model FileToEmailLinker.Models.InputModels.MailPlans.MailPlanCreateInputModel

@{
    ViewData["Title"] = "Edit";
    var today = DateOnly.FromDateTime(DateTime.Now.Date);
}

<div class="container">
    <h1>Modifica Programmazione @Model.Name</h1>
    <hr />
    <form asp-action="Edit" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="card bg-light mb-2">
            <div class="card-header fw-bold">Informazioni generali</div>
            <div class="card-body">
                <div class="row row-cols-md-2 mb-1">
                    <div class="col-6">
                        <div class="row row-cols-2">
                            <div class="col-8">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-4 d-flex">
                                <div class="form-check form-switch align-self-end">
                                    <label asp-for="ActiveState" class="form-check-label">Attivo</label>
                                    <input class="form-check-input" type="checkbox" asp-for="ActiveState" checked />
                                    <span asp-validation-for="ActiveState" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group mt-2">
                                    <label asp-for="Subject" class="control-label"></label>
                                    <input type="text" asp-for="Subject" class="form-control" />
                                    <span asp-asp-validation-for="Subject" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Text" class="control-label"></label>
                            <textarea rows="4" asp-for="Text" class="form-control"></textarea>
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-md-3 mt-2">
                    <div class="col form-group">
                        <label asp-for="SchedTime" class="control-label"></label>
                        <input asp-for="SchedTime" class="form-control" type="time" />
                        <span asp-validation-for="SchedTime" class="text-danger"></span>
                    </div>
                    <div class="col form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" type="date" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="col form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" type="date" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-2">
            <div class="card-header fw-bold">
                Selezione allegati
            </div>
            <div class="card-body">
                @*<div class="mt-2">Allegati</div>*@
                @for (int i = 0; i < Model.FileSelectList.Count; i++)
                {
                    var elem = Model.FileSelectList[i];
                    var elemId = "FilesSelection_" + i.ToString();
                    <div class="form-check">
                        @if (elem.Selected)
                        {
                            <input class="form-check-input" type="checkbox" name="FilesSelection" id="@elemId" value="@elem.Value" checked />
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" name="FilesSelection" id="@elemId" value="@elem.Value" />
                        }
                        <label class="form-check-label" for="@elemId">@elem.Text</label>
                    </div>
                }
            </div>
        </div>
        <div class="card bg-light">
            <div class="card-header fw-bold">
                Selezione destinatari
            </div>
            <div class="card-body">
                @*<div class="mt-2">Destinatari</div>*@
                @for (int i = 0; i < Model.ReceiverSelectList.Count; i++)
                {
                    var elem = Model.ReceiverSelectList[i];
                    var elemId = "ReceiversSelection_" + i.ToString();
                    <div class="form-check">
                        @if (elem.Selected)
                        {
                            <input class="form-check-input" type="checkbox" name="ReceiversSelection" id="@elemId" value="@elem.Value" checked />
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" name="ReceiversSelection" id="@elemId" value="@elem.Value" />
                        }
                        <label class="form-check-label" for="@elemId">@elem.Text</label>
                    </div>
                }
            </div>
        </div>

        @*<div class="form-group">
        <label asp-for="SchedDate" class="control-label"></label>
        <input asp-for="SchedDate" class="form-control" type="date" />
        <span asp-validation-for="SchedDate" class="text-danger"></span>
        </div>*@


        <div>
            <hr />
            <h6>Selezionare il tipo di schedulazione:</h6>
            <div class="mb-3">
                <a class="btn btn-outline-primary" asp-action="AddWeeklyScheduleInputModel" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#schedulationSelection">Settimanale<i class="bi bi-calendar-day ms-2"></i></a>
                <a class="btn btn-outline-primary" asp-action="AddMonthlyScheduleInputModel" aps-route-schedType="monthly" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#schedulationSelection">Mensile<i class="bi bi-calendar-week ms-2"></i></a>
            </div>
            <div id="schedulationSelection">
                <!--Partial View area-->
                @if(Model.WeeklySchedulation != null)
                {
                    <partial name="/Views/Schedulations/_WeeklySchedulation.cshtml" model="@Model.WeeklySchedulation"></partial>
                }else
                {
                    <partial name="/Views/Schedulations/_MonthlySchedulation.cshtml" model="@Model.MonthlySchedulation"></partial>
                }
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Modifica" class="btn btn-primary" />
                <a class="btn btn-outline-secondary ms-2" role="button" asp-action="Details" asp-route-id="@Model.Id">Annulla</a>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


@*@model FileToEmailLinker.Models.Entities.MailingPlan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MailingPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveState" class="control-label"></label>
                <select asp-for="ActiveState" class="form-control" asp-items="Html.GetEnumSelectList<FileToEmailLinker.Models.Enums.ActiveState>()"></select>
                <span asp-validation-for="ActiveState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@