@using FileToEmailLinker.Models.ViewModels;
@model MailingPlanListViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex">
    <h1 class="me-auto">Pianificazioni</h1>
    <partial name="IndexTools/SearchAndAddTools" model="@Model"></partial>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Stato
            </th>
            <th>
                Oggetto email
            </th>
            <th>
                Schedulazione
            </th>
            <th>
                Orario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MailingPlanList.Results) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveState)
            </td>
            <td class="text-break">
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @if (item.WeeklySchedulation != null)
                {
                    <span>Settimanale</span>
                }
                else
                {
                    <span>Mensile</span>
                }
            </td>
            <td>
                <span>@item.Schedulation?.Time</span>
            </td>
            <td style="white-space:nowrap">
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-file-text"></i></a> |
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="color:red"><i class="bi bi-trash3"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<section class="row">
    <div class="col-sm-auto">
        <div class="input-group mt-3">
            <select asp-for="@Model.Limit" class="form-select" aria-label="Pagination select" form="searchForm" asp-items="@Model.PageLimitOptions">
            </select>
            <button class="btn btn-outline-secondary" type="submit" form="searchForm"><i class="bi bi-skip-end"></i></button>
        </div>
    </div>
    <div class="col">
        <vc:pagination-bar model="@Model"></vc:pagination-bar>
    </div>
</section>
