@model IEnumerable<FileToEmailLinker.Models.Entities.MailingPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Stato
            </th>
            <th>
                Soggetto email
            </th>
            <th>
                Schedulazione
            </th>
            <th>
                Orario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @if (item.WeeklySchedulation != null)
                {
                    <span>Settimanale</span>
                }
                else
                {
                    <span>Mensile</span>
                }
            </td>
            <td>
                <span>@item.Schedulation.Time</span>
@*                @if (item.WeeklySchedulation != null)
                {
                    <span>@item.WeeklySchedulation.Time</span>
                }
                else
                {
                    <span>@item.MonthlySchedulation.Time</span>
                }*@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
